body {
	background: -webkit-linear-gradient(bottom, rgba(153,61,0, 1), rgba(54, 113, 176, 0.4));
	background-size: cover;
	font-family: luminari;
	word-spacing: 5px;
	letter-spacing: 1px;

}
header {
	text-transform: uppercase;
	color: rgb(153, 61, 0);
}

span {letter-spacing: 5px;
	font-size: 25px;
	
}


h1{color:blue;
}
h2{color:gold;
}
h3{color:red;
}
h4{color: white;
}
h5 {
	color: green;
}


img {
	border-radius: 50%;
}
ul {
	text-align: left;
}